/* Main */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

/* informacoes */
.div-informacoes{
    background-color: var(--transparente-roxo);
    width: 70rem;
    border-radius: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
}

.div-informacoes > h2{
    text-align: center;
    color: var(--branco);
    margin-bottom: 2rem;
}

.div-informacoes > div > h2{
    color: var(--branco);
    margin-bottom: 1rem;
    font-weight: 600;
}

.div-informacoes > div > h3{
    color: var(--branco);
    margin-bottom: 1rem;
    font-weight: 600;
}

.div-informacoes > div > p{
    text-align: justify;
    color: var(--roxo);
    font-weight: 800;
    margin-bottom: 0.5rem;
}

span{
    font-size: 0.6rem;
}

/* personagens */
.div-personagens{
    text-align: center;
    background-color: var(--transparente-roxo);
    width: 70rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
    color: var(--branco);
}

.div-personagens > h2 {
    margin-bottom: 2rem;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 1rem 0 1rem;
    gap: 2rem;
}

.cards > div{
    background-color: var(--roxo);
    border-radius: 0.8rem;
    width: 15rem;
    height: 15rem;
}

.cards > div > h4{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
}

.cards p{
    font-size: 0.7rem;
    padding-bottom: 0.3rem;
    text-align: center;
}

.cards > div > img{
    width: 100%;
    object-fit: cover;
    height: 12rem;
    border-radius: 0 0 0.8rem 0.8rem;
}

/* Botao */
#abrir-modal{
    border: none;
    background-color: var(--roxo);
    color: var(--branco);
    font-size: 1rem;
    font-weight: 800;
    width: 10rem;
    height: 3rem;
    border-radius: 2rem;
    margin-top: 2rem;
    cursor: pointer;
}

/* Modal */
.div-modal{
    height: 60rem;
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: var(--branco);
}

.div-modal > div {
    background-color: var(--transparente-escuro);
    margin: 1rem auto;
    width: 40rem;
    height: 40rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-modal > div > h2{
    margin-top: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

input{
    border: none;
    color: var(--roxo);   
    font-weight: 700;
    padding-left: 0.5rem;
    border-radius: 2rem;
    height: 1.5rem;
    width: 19rem;
    text-align: center;
}

input::placeholder{
    border: none;
    color: var(--roxo);   
    font-weight: 700;
    text-align: center;
}

.input-arquivo{
    padding-left: 0;
    border-radius: 0;
    color: var(--branco);
}

form > button{
    justify-self: center;
    color: var(--roxo);
    font-weight: 700;
    border: none;
    width: 15rem;
    height: 1.5rem;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
}

.escondido{
    display: none;
}

/* Responsividade */
@media screen and (min-width: 429px){
    .div-informacoes, .div-personagens {
        width: 80%;
    }
}

@media screen and (max-width: 428px) {
    header > h1{
        font-size: 0.7;
        margin-left: 1rem;
    }
    
    .link-pagina{
        font-size: 0.9rem;
        margin-right: 1rem;
    }

    .div-informacoes, .div-personagens {
        width: 75%;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }
    
    .cards > div {
        margin-bottom: 40px;
        width: 75%;
    }

    #abrir-modal {
        width: 60%;
        max-width: 9rem;
    }
}